<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #F9741E;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: black;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #FF5733;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color:#FF7A4B;
  color:#FF7A4B;
}
 h1{
    font-size:100px;
    }
   h1 {
      text-align: center;
      }
  body {
  background-color: #FDCFB3;
}
</style>
</head>
